
header {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px;
}

div {
    padding: 20px;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}


body {
    background-color: #ecf0f1;
}


a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
    background-color: #27ae60; /* Green */
}

a:hover {
    background-color: #2ecc71; /* Lighter Green */
}


img {
    max-width: 100%;
    height: auto;
    border: 0;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height as needed */
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #27ae60;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2ecc71;
}
