body, h1, h2, h3, p, ul, ol, li, img, figure, figcaption, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif; /* Default font family */
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4CAF50; /* Dark green */
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #388e3c; /* Green */
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; /* Heading font family */
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50; /* Dark green */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #388e3c; /* Green */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Dark green */
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #388e3c; /* Green */
}


a,
button,
input[type="submit"] {
    outline: none;
}

a:focus,
button:focus,
input[type="submit"]:focus {
    box-shadow: 0 0 0 2px #4CAF50; 
}
